input[type="datetime-local"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

input[type="datetime-local"]:focus:before,
input[type="datetime-local"]:valid:before {
    content: "";
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    width: 120px;
}
th {
    width: 120px;
}

td,
th {
    border: 1px solid #878797;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #97a8ca;
}