<!DOCTYPE html>
<html>

<head>

	<!-- /.website title -->
	<title>BigML Analytics</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- CSS Files -->
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet" media="screen">
	<link href="css/owl.theme.css" rel="stylesheet">
	<link href="css/owl.carousel.css" rel="stylesheet">
	<link href="css/mystyle.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet" media="screen">

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,700' rel='stylesheet' type='text/css'>

	<!-- Font Awesome -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#navbar-scroll">

	<div id="top"></div>

	<!-- NAVIGATION -->
	<div id="menu">
		<nav class="navbar-wrapper navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-themers">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand site-name" href="#top"><img src="images/logo.png" alt="logo"></a>
				</div>

				<div id="navbar-scroll" class="collapse navbar-collapse navbar-themers navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="#feature">Info</a></li>
						<li><a href="#contact">Predict</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!-- /.parallax full screen background image -->
	<div class="fullscreen landing parallax banner" style="background-image:url('images/bg.jpg');" data-img-width="2000"
		data-img-height="1325" data-diff="100">

		<div class="overlay">
			<div class="container">
				<div class="row">



					<div class="col-md-6">

						<!-- /.main title -->
						<h1 class="wow fadeInLeft">
							BigML Analytics
						</h1>

						<!-- /.header paragraph -->
						<div class="landing-text wow fadeInLeft">
							<p>Click on "Train" button to train a machine learning model. Then, on "Predict" you can
								enter a data for a new call, and get the model's prediction about what will be the topic
								of this call.</p>
						</div>

						<!-- /.header button  -->
						<div class="head-btn wow fadeInLeft">
							<a href="#" onclick="train();" class="btn-primary app-store">
								Train
							</a>
						</div>



					</div>

					<!-- /.phone image -->
					<div class="col-md-6">
						<img src="images/header-phone.png" alt="phone"
							class="header-phone img-responsive wow fadeInRight">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /.feature section -->
	<div id="feature">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

					<!-- /.feature title -->
					<h2>Model Information</h2>
					<p>We used BigML cloud service to train a Decision-Tree model with the following features:
					<ul>
						<li>Call Period: holidays / summer vacations / normal</li>
						<li>Call Time (Date and Time)</li>
						<li>Number of calls in the last month</li>
						<li>The product/s discussed in the call</li>
						<li>Customer's age</li>
						<li>Customer's city: Ariel / Jerusalem / Tel-Aviv / Haifa / Nahariya / Petah-Tikva / Ashdod /
							Netanya / Bnei-Brak / Holon / Beersheba</li>
					</ul>
					Using this model, you can create a classification prediction to get the call's topic, which is: join
					/ service / complaint /
					disconnect.
					</p>
				</div>
			</div>
			<div class="row row-feat">

				<div class="col-md-12">

					<!-- /.feature 1 -->
					<div class="col-sm-4 feat-list">
						<div class="inner">
							<h4>Confusion Matrix</h4>
							<table style="table-layout: fixed;">
								<tr>
									<th></th>
									<th>Join</th>
									<th>Service</th>
									<th>Complaint</th>
									<th>Disconnect</th>
								</tr>
								<tr>
									<th>Join</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>Service</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>Complaint</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th>Disconnect</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</div>
					</div>

					<!-- /.feature 2 
					<div class="col-sm-4 feat-list">
						<div class="inner">
							<h4>Decision Tree</h4>
							<p>ADD IMAGE</p>
						</div>
					</div> -->

					<!-- /.feature 3 
					<div class="col-sm-4 feat-list">
						<div class="inner">
							<h4>Features Importance</h4>
							<p>ADD STATISTICS</p>
						</div>
					</div> -->

				</div>
			</div>
		</div>
	</div>

	<!-- /.contact section -->
	<div id="contact">
		<div class="contact">

			<div class="container">
				<div class="row contact-row">
					<h2>Enter a new call's data to predict its topic:</h2>
					<p></p>
					<!-- /.contact form -->
					<div class="col-sm-7 contact-right">
						<form onsubmit="predictSubmit(event)" id="contact-form" class="form-horizontal">
							<div class="form-group">
								<label for="periods">Choose a period:</label>
								<select name="periods" required>
									<option value="holidays">Holidays</option>
									<option value="summer vacations">Summer Vacations</option>
									<option value="normal">Normal</option>
								</select>
							</div>
							<div class="form-group">
								<input type="datetime-local" name="callTime" id="Email"
									class="form-control wow fadeInUp" placeholder="Call Time" required />
							</div>
							<div class="form-group">
								<input type="number" name="numOfCalls" id="Name" class="form-control wow fadeInUp"
									placeholder="Number of calls in the last month" required />
							</div>
							<div class="form-group">
								<input type="checkbox" id="Name" name="internet" value="internet">
								<label for="internet">The customer is interested in internet</label><br>
							</div>
							<div class="form-group">
								<input type="checkbox" id="Name" name="cableTV" value="cableTV">
								<label for="cableTV">The customer is interested in cable TV</label><br>
							</div>
							<div class="form-group">
								<input type="checkbox" id="Name" name="cellular" value="cellular">
								<label for="cellular">The customer is interested in cellular</label>
							</div>
							<div class="form-group">
								<input type="number" name="age" id="Name" min="14" max="120"
									class="form-control wow fadeInUp" placeholder="Customer Age" />
							</div>
							<div class="form-group">
								<label for="genders">Choose customer's gender:</label>
								<select name="genders">
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
							</div>
							<div class="form-group">
								<label for="cities">Choose customer's city:</label>
								<select name="cities">
									<option value="Ariel">Ariel</option>
									<option value="Jerusalem">Jerusalem</option>
									<option value="Tel-Aviv">Tel-Aviv</option>
									<option value="Haifa">Haifa</option>
									<option value="Nahariya">Nahariya</option>
									<option value="Petah-Tikva">Petah-Tikva</option>
									<option value="Ashdod">Ashdod</option>
									<option value="Netanya">Netanya</option>
									<option value="Bnei-Brak">Bnei-Brak</option>
									<option value="Holon">Holon</option>
									<option value="Beersheba">Beersheba</option>
								</select>
							</div>
							<div class="form-group">
								<input type="submit" name="submit" value="Submit"
									class="btn btn-success wow fadeInUp" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /.javascript files -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/ekko-lightbox-min.js"></script>
	<script src="js/api.js"></script>
	<script type="text/javascript">
		$(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) { event.preventDefault(); $(this).ekkoLightbox(); }); 
	</script>
	<script>
		new WOW().init();
	</script>
</body>

</html>